<p>You are receiving this email because we receive a password reset request for your account.</p>
<p>Click <a href="<%= url %>">here</a> to reset your password</p>
<p>If you did not request a password reset, no further action is needed.</p>

<p>Regards,</p>
<p>HabitTracker</p>